<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <!---main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->

                    
                    <div class="col-md-6 col-12 main_header_right">
                     <figure>
                        <img src="images/about.jpg" alt="Nirmal" class="img-fluid" title="Nirmal Pant"> 
                     </figure>   
                     </div>
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to Live Weather App</p>
                            <h1>I am a <span class="text_clr"> Full Stack Developer </span> Freelancer and an Open Source Contributor.</h1>
                            <a href="https://www.woolhubexport.com/" target="_nirmal"><button>About Me</button></a>
                        </div>

                    <!--right side div-->

                   
                </div>
            </div>
        </div>
    </div>
<!--Footer-->
   {{>footer}}
</body>
</html>